<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= appname %></title>
    <!-- build:css styles/lib.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/app.css -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- endbuild -->
</head>
<body>
    <h1>Hello, <%= appname %>!</h1>

    <!-- build:js js/lib.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js js/app.js -->
    <!-- inject:js -->
    <script src="app/app.module.js"></script>
    <!-- endinject -->
    <!-- inject:templates:js -->
    <!-- endinject -->
    <!-- endbuild -->
</body>
</html>
